
{
  "env": {
      "browser": true,
      "node": true,
      "jest": true,
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", "jsx"]
        }
      ],
      "prettier/prettier": "error",
      "max-len": [
        "error", {
        "ignorePattern": "\\s*<",
        "ignoreUrls": true,
        "code": 100
      }],
      "global-require": 0,
      "react/jsx-props-no-spreading": 0,
  }
}
